@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body{
    background-color: ghostwhite !important;
}

/* NAV */
.nav{
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.nav-item a{
    text-decoration: none;
}
.nav-item a h2 {
    color: yellow;
    font-family: 'Gugi', cursive;
    margin: 0;
}




/* NAV BAR */
.navbar-brand{
    color: yellow !important;
    font-size: 1.6rem;
    font-family: 'Gugi', cursive;
    margin: 0;
}

/* CONTENT-MAIN */
.content-main{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: justify;
    min-height: 90vh;
}

/* FOOTER */
.page-footer{
    position: static;
    bottom: 0 !important;
    height: 60px;
    width: 100%; 
}

.footer-copyright a {
    text-decoration: none;
    font-size: 1.2rem;
    color: gold;
    font-weight: 500;
}


/* ************************** */


.card-header b{
    font-family: 'Gugi', cursive;
    margin-bottom: 0;    
}

.card{
    min-height: 200px !important;   
}
.card-body i{
    font-size: 5rem;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}

.card-body a{
    text-decoration: none;
    color: black;
}